<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <title>Hello, world!</title>
    </head>
    <body>
        <div class="row">
        <div class="col-sm-12 mb-3">
            <h4 class="text-center">Welcome {{ user.username }}</h4>
        </div>
        <div class="container">
            {% if user %}
                {% for account in user.socialaccount_set.all %}
                    <h2 style="text-transform:capitalize;">{{ account.provider }} account data</h2>
                    <div><img width="50" height="50" src="{{ account.get_avatar_url }}"/></div>
                    <div>UID: <a href="{{account.extra_data.link }}">{{ account.uid }}</a></div>
                    <div>Username: {{ account.extra_data.username }}</div>
                    <div>First Name: {{ account.extra_data.first_name }}</div>
                    <div>Last Name: {{ account.extra_data.last_name }}</div>
                    <div>Profile Link: <a href="{{ account.extra_data.link }}">{{ account.extra_data.link }}</a></div>
                {% endfor %}
            {% endif %}
                <div class="col-sm-12 mt-2 text-center">
                    <button class="btn btn-danger">
                    </button>
                </div>
        </div>
            <!-- End here -->
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
